* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/savanna-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    margin: 0;
    height: 100vh;
}

.savanna-game-logo {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1000;
}

#savanna-game-logo {
max-width: 300px;
height: auto;
}

.character-preview {
    display: none;
    width: 300px;
    height: auto;
    border-radius: 10px;
    position: relative;
}

#landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
}

#start-button {
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: rgb(7, 147, 12);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: rgb(8, 52, 1);
}

#score-timer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(2, 65, 2);
}

#score, #timer {
    flex: 1;
    text-align: center;
}

.animal {
    width: 120px;
    height: 70px;
    background-image: url(../assets/savanna-animals.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 366px 275px;
}

#elephant { background-position: 0px 0px;}

#giraffe { background-position: -122px 0px;}

#zebra { background-position: -244px 0px;}

#rhino { background-position: 0px -69px;}

#lion { background-position: -122px -69px;}

#cheetah { background-position: -244px -69px;}

#hyeena { background-position: 0px -137px;}

#meerkat { background-position: -122px -137px;}

#hippo { background-position: -244px -137px;}

#buffalo { background-position: 0px -206px;}

#leopard { background-position: -122px -206px;}

#camel { background-position: -244px -206px;}


.character-grid {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(4, 70px);
    gap: 10px;
    justify-content: center;
    align-content: center;
    height: auto;
    padding-top: 50px;
}

.animal:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    outline: 2px solid gold;
    cursor: pointer;
}

.animal.flash {
    outline: 3px solid gold;
    background-color: rgba(255, 255, 0, 0.4);
    transform: scale(1.2);
    transition: transform 0.2 ease, background-color 0.2 ease;
    z-index: 1;
}

#game-over {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
